# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.paint-bucket.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\unity2\paint-bucket\.idea\.idea.paint-bucket\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
